In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
csv_path = "NYC_GEOINFO2023.GEOINFO-Data.csv"
df = pd.read_csv(csv_path).drop(index=0)

In [3]:
df.head()

,GEO_ID,NAME,AREALAND,AREAWATR,AREALAND_SQMI,AREAWATR_SQMI,INTPTLAT,INTPTLON,Unnamed: 8
1,1400000US36005000100,Census Tract 1; Bronx County; New York,1677210,1035011,0.648,0.400,40.7929362,-73.8812065,NaN
2,1400000US36005000200,Census Tract 2; Bronx County; New York,448105,852406,0.173,0.329,40.8082452,-73.8567226,NaN
3,1400000US36005000400,Census Tract 4; Bronx County; New York,775416,690794,0.299,0.267,40.8087867,-73.8514252,NaN
4,1400000US36005001600,Census Tract 16; Bronx County; New York,485078,0,0.187,0.000,40.8188478,-73.8580764,NaN
5,1400000US36005001901,Census Tract 19.01; Bronx County; New York,205007,0,0.079,0.000,40.8067879,-73.9280462,NaN

In [4]:
gdf = gpd.read_file("tl_2023_36_tract.shp")

In [5]:
gdf.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,GEOIDFQ,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,36,093,033102,36093033102,1400000US36093033102,331.02,Census Tract 331.02,G5020,S,183329990,3232878,+42.7780248,-074.1727005,"POLYGON ((-74.30655 42.75064, -74.30624 42.751..."
1,36,093,020102,36093020102,1400000US36093020102,201.02,Census Tract 201.02,G5020,S,854905,0,+42.8295375,-073.9161408,"POLYGON ((-73.92513 42.82029, -73.9244 42.8214..."
2,36,093,032504,36093032504,1400000US36093032504,325.04,Census Tract 325.04,G5020,S,65999125,1264687,+42.9010539,-074.0288936,"POLYGON ((-74.09298 42.95587, -74.08805 42.955..."
3,36,081,003400,36081003400,1400000US36081003400,34,Census Tract 34,G5020,S,213987,0,+40.6847731,-073.8581871,"POLYGON ((-73.8663 40.68319, -73.86549 40.6834..."
4,36,081,003900,36081003900,1400000US36081003900,39,Census Tract 39,G5020,S,146970,0,+40.7627994,-073.9409316,"POLYGON ((-73.9433 40.76066, -73.94247 40.7619..."

In [7]:
df['GEOID'] = df['GEO_ID'].astype(str)
gdf['GEOID'] = gdf['GEOIDFQ'].astype(str)

In [8]:
df = df.drop('GEO_ID', axis=1)
gdf = gdf.drop('GEOIDFQ', axis=1)

In [9]:
merged_gdf = gdf.merge(df, on='GEOID')
nyc_geo_census_polygons = merged_gdf[['GEOID', 'NAMELSAD', 'AREALAND', 'AREAWATR', 'AREALAND_SQMI', 'AREAWATR_SQMI', 'geometry']]

In [10]:
nyc_geo_census_polygons.to_csv("ny_census_tracts_with_data.csv", index=False)