In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
from tqdm import tqdm

In [10]:
from scipy.stats import norm

In [2]:
df = pd.read_csv('nyc_data_numeric.csv')

In [ ]:
##########
#### Add y column here ####
##########

In [3]:
df.columns

Index(['Unnamed: 0', 'Geography', 'Geography_name', 'total_population',
       'population_density', 'male_percent', 'percent_inhouseholds',
       'percent_marriedhouseholds', 'percent_cohabitingcouple',
       'percent_solomale', 'percent_solofemale',
       'percent_occupiedhousingunits', 'percent_owneroccupied',
       'percent_renteroccupied', 'median_age', 'percent_under5',
       'percent_5to9', 'percent_10to14', 'percent_15to19', 'percent_20to24',
       'percent_25to29', 'percent_30to34', 'percent_35to39', 'percent_40to44',
       'percent_45to49', 'percent_50to54', 'percent_55to59', 'percent_60to64',
       'percent_65to69', 'percent_70to74', 'percent_75to79', 'percent_80to84',
       'percent_over85', 'male_median_age', 'male_percent_under5',
       'male_percent_5to9', 'male_percent_10to14', 'male_percent_15to19',
       'male_percent_20to24', 'male_percent_25to29', 'male_percent_30to34',
       'male_percent_35to39', 'male_percent_40to44', 'male_percent_45to49',
       'male_percent_50to54', 'male_percent_55to59', 'male_percent_60to64',
       'male_percent_65to69', 'male_percent_70to74', 'male_percent_75to79',
       'male_percent_80to84', 'male_percent_over85', 'Female_median_age',
       'female_percent_under5', 'female_percent_5to9', 'female_percent_10to14',
       'female_percent_15to19', 'female_percent_20to24',
       'female_percent_25to29', 'female_percent_30to34',
       'female_percent_35to39', 'female_percent_40to44',
       'female_percent_45to49', 'female_percent_50to54',
       'female_percent_55to59', 'female_percent_60to64',
       'female_percent_65to69', 'female_percent_70to74',
       'female_percent_75to79', 'female_percent_80to84',
       'female_percent_over85', 'median_household_income',
       'percent_income_under10k', 'percent_income_10to15k',
       'percent_income_15to25k', 'percent_income_25to35k',
       'percent_income_35to50k', 'percent_income_50to75k',
       'percent_income_75to100k', 'percent_income_100to150k',
       'percent_income_150to200k', 'percent_income_over200k',
       'percent_novehicles', 'percent_1vehicle_perperson',
       'percent_lessthan1vehicle_perperson', 'under25y_percent_highschool',
       'under25y_percent_somecollege', 'under25y_percent_bachelors',
       'over25y_percent_highschool', 'over25y_percent_somecollege',
       'over25y_percent_bachelors', 'over25y_percent_graduatedegree'],
      dtype='object')

In [4]:
df_numeric = df.select_dtypes(include=[np.number])
df_numeric.columns

Index(['Unnamed: 0', 'total_population', 'population_density', 'male_percent',
       'percent_inhouseholds', 'percent_marriedhouseholds',
       'percent_cohabitingcouple', 'percent_solomale', 'percent_solofemale',
       'percent_occupiedhousingunits', 'percent_owneroccupied',
       'percent_renteroccupied', 'median_age', 'percent_under5',
       'percent_5to9', 'percent_10to14', 'percent_15to19', 'percent_20to24',
       'percent_25to29', 'percent_30to34', 'percent_35to39', 'percent_40to44',
       'percent_45to49', 'percent_50to54', 'percent_55to59', 'percent_60to64',
       'percent_65to69', 'percent_70to74', 'percent_75to79', 'percent_80to84',
       'percent_over85', 'male_median_age', 'male_percent_under5',
       'male_percent_5to9', 'male_percent_10to14', 'male_percent_15to19',
       'male_percent_20to24', 'male_percent_25to29', 'male_percent_30to34',
       'male_percent_35to39', 'male_percent_40to44', 'male_percent_45to49',
       'male_percent_50to54', 'male_percent_55to59', 'male_percent_60to64',
       'male_percent_65to69', 'male_percent_70to74', 'male_percent_75to79',
       'male_percent_80to84', 'male_percent_over85', 'Female_median_age',
       'female_percent_under5', 'female_percent_5to9', 'female_percent_10to14',
       'female_percent_15to19', 'female_percent_20to24',
       'female_percent_25to29', 'female_percent_30to34',
       'female_percent_35to39', 'female_percent_40to44',
       'female_percent_45to49', 'female_percent_50to54',
       'female_percent_55to59', 'female_percent_60to64',
       'female_percent_65to69', 'female_percent_70to74',
       'female_percent_75to79', 'female_percent_80to84',
       'female_percent_over85', 'median_household_income',
       'percent_income_under10k', 'percent_income_10to15k',
       'percent_income_15to25k', 'percent_income_25to35k',
       'percent_income_35to50k', 'percent_income_50to75k',
       'percent_income_75to100k', 'percent_income_100to150k',
       'percent_income_150to200k', 'percent_income_over200k',
       'percent_novehicles', 'percent_1vehicle_perperson',
       'percent_lessthan1vehicle_perperson', 'under25y_percent_highschool',
       'under25y_percent_somecollege', 'under25y_percent_bachelors',
       'over25y_percent_highschool', 'over25y_percent_somecollege',
       'over25y_percent_bachelors', 'over25y_percent_graduatedegree'],
      dtype='object')

In [6]:
features = df_numeric.copy().drop(columns=['Unnamed: 0'])
# features = df_numeric.copy().drop(columns=['y', 'Unnamed: 0'])
# target = df_numeric['y']

In [ ]:
def calc_zscore_helper(ds, dropoutliers):
    percrank = np.ceil(ds.rank(ascending=False)/(ds.count()) * 100)
    zscore = (norm.ppf(1- percrank/100 + dropoutliers).round(4))

    return zscore

In [ ]:
# Inverse norm y or not?
# if inverse, how to decide the scale? especially on ATL

In [ ]:
features.transform(lambda x: calc_zscore_helper(x, 0.005), axis=0)

In [ ]:
correlation_matrix = np.corrcoef(features, rowvar=False)

In [ ]:
plt.figure(figsize=(8, 6))
plt.imshow(correlation_matrix, cmap='coolwarm', vmin=-1, vmax=1)
plt.colorbar(label='Correlation')
plt.title('Feature Correlation Heatmap')
plt.tight_layout()
plt.show()