In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
csv_path = "ATL_GEOINFO.csv"
df = pd.read_csv(csv_path).drop(index=0)

In [5]:
df.head()

,GEO_ID,NAME,AREALAND,AREAWATR,AREALAND_SQMI,AREAWATR_SQMI,INTPTLAT,INTPTLON
1,1400000US13001950201,Census Tract 9502.01; Appling County; Georgia,104887194,805139,40.497,0.311,31.811969,-82.275959
2,1400000US13001950202,Census Tract 9502.02; Appling County; Georgia,51991028,153985,20.074,0.059,31.806628,-82.382966
3,1400000US13001950301,Census Tract 9503.01; Appling County; Georgia,28366030,34749,10.952,0.013,31.739782,-82.328288
4,1400000US13001950302,Census Tract 9503.02; Appling County; Georgia,43487819,79561,16.791,0.031,31.765690,-82.405488
5,1400000US13001950400,Census Tract 9504; Appling County; Georgia,388759781,568690,150.101,0.220,31.666797,-82.188242

In [6]:
gdf = gpd.read_file("tl_2023_13_tract/tl_2023_13_tract.shp")

In [7]:
gdf.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,GEOIDFQ,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,13,153,020108,13153020108,1400000US13153020108,201.08,Census Tract 201.08,G5020,S,10731797,65357,+32.6404762,-083.6768373,"POLYGON ((-83.69865 32.65946, -83.69847 32.659..."
1,13,245,010802,13245010802,1400000US13245010802,108.02,Census Tract 108.02,G5020,S,169005435,953641,+33.3573770,-082.2220034,"POLYGON ((-82.3535 33.31232, -82.3503 33.3148,..."
2,13,245,010801,13245010801,1400000US13245010801,108.01,Census Tract 108.01,G5020,S,9917792,30634,+33.4165535,-082.1139478,"POLYGON ((-82.13548 33.41778, -82.13547 33.418..."
3,13,245,011100,13245011100,1400000US13245011100,111,Census Tract 111,G5020,S,2380558,0,+33.4592649,-081.9821423,"POLYGON ((-81.99417 33.46532, -81.99373 33.466..."
4,13,089,023315,13089023315,1400000US13089023315,233.15,Census Tract 233.15,G5020,S,23306088,363434,+33.7541928,-084.0660228,"POLYGON ((-84.10822 33.75883, -84.10818 33.759..."

In [9]:
df['GEOID'] = df['GEO_ID'].astype(str)
gdf['GEOID'] = gdf['GEOIDFQ'].astype(str)

In [10]:
df = df.drop('GEO_ID', axis=1)
gdf = gdf.drop('GEOIDFQ', axis=1)

In [13]:
merged_gdf = gdf.merge(df, on='GEOID')
atl_geo_census_polygons = merged_gdf[['GEOID', 'NAMELSAD', 'AREALAND', 'AREAWATR', 'AREALAND_SQMI', 'AREAWATR_SQMI', 'geometry']]

In [14]:
atl_geo_census_polygons.head()

,GEOID,NAMELSAD,AREALAND,AREAWATR,AREALAND_SQMI,AREAWATR_SQMI,geometry
0,1400000US13153020108,Census Tract 201.08,10731797,65357,4.144,0.025,"POLYGON ((-83.69865 32.65946, -83.69847 32.659..."
1,1400000US13245010802,Census Tract 108.02,169005435,953641,65.253,0.368,"POLYGON ((-82.3535 33.31232, -82.3503 33.3148,..."
2,1400000US13245010801,Census Tract 108.01,9917792,30634,3.829,0.012,"POLYGON ((-82.13548 33.41778, -82.13547 33.418..."
3,1400000US13245011100,Census Tract 111,2380558,0,0.919,0.000,"POLYGON ((-81.99417 33.46532, -81.99373 33.466..."
4,1400000US13089023315,Census Tract 233.15,23306088,363434,8.999,0.140,"POLYGON ((-84.10822 33.75883, -84.10818 33.759..."

In [16]:
atl_geo_census_polygons.to_csv("atl_census_tracts_with_data.csv", index=False)